<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.mpardalos.homework_plus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.mpardalos.homework_plus.TaskList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.mpardalos.homework_plus.TaskAdd"
            android:label="@string/title_activity_task_add"
            android:parentActivityName="org.mpardalos.homework_plus.TaskList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mpardalos.homework_plus.TaskList"/>
        </activity>
        <activity
            android:name="org.mpardalos.homework_plus.TaskEdit"
            android:label="@string/title_activity_task_details"
            android:parentActivityName="org.mpardalos.homework_plus.TaskList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mpardalos.homework_plus.TaskList"/>
        </activity>
        <activity
            android:name="org.mpardalos.homework_plus.SubjectEdit"
            android:label="@string/title_activity_subject_edit"
            android:parentActivityName="org.mpardalos.homework_plus.TaskList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mpardalos.homework_plus.TaskList"/>
        </activity>
    </application>

</manifest>
