<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mpardalos.org.homeworkmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="mpardalos.org.homeworkmanager.TaskList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="mpardalos.org.homeworkmanager.TaskAdd"
            android:label="@string/title_activity_task_add"
            android:parentActivityName="mpardalos.org.homeworkmanager.TaskList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mpardalos.org.homeworkmanager.TaskList"/>
        </activity>
        <activity
            android:name=".TaskEdit"
            android:label="@string/title_activity_task_details"
            android:parentActivityName="mpardalos.org.homeworkmanager.TaskList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mpardalos.org.homeworkmanager.TaskList"/>
        </activity>
    </application>

</manifest>
